{{ if not .IsHome }}
{{ partial "custom_js.html" (apply .Site.Params.customJS "print" "utils/" ".") }}
{{ end }}
{{ partial "custom_js.html" .Params.customJS }}
{{- if (in .Content `class="footnotes"`) -}}
<script src="//cdn.jsdelivr.net/npm/@xiee/utils/js/sidenotes.min.js" defer></script>
{{ end }}


<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
本站总访问量<span id="busuanzi_value_site_pv"></span>次 ｜
本站访客数<span id="busuanzi_value_site_uv"></span>人次 ｜
本文总阅读量<span id="busuanzi_value_page_pv"></span>次
